@tailwind base;
@tailwind components;
@tailwind utilities;



::before,
::after {
  --tw-content: '';
}

.transparent {
  backdrop-filter: blur(10-x);
}

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Poppins, sans-serif;
  /* 4 */
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  background-image: url('./img/background-faqs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#nav{
  background-image: url('./img/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75;
}
#contact{
  background-image: url('./img/background-faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#hero{
  background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#gallery{
  background-image: url('./img/background-faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#blog{
  background-image: url('./img/background-faqs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#testimonials{
  background-image: url('./img/background-faqs.jpg');
   background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background-image: url('./images/abstract-background.png');
     background-repeat: no-repeat;
      background-size: cover;
}

#footer{
  background-image: url('./img/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
   
}
/* 

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

/* label {
  display: inline-block;
  margin: 10px 0;
} */

/* input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
} */
/* 
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
} */ 